src/main/resources/com/luxoft/cjp/xml/staff.dtd

<!ELEMENT company (staff)+>
        <!ELEMENT staff (firstname,lastname,nickname,salary)>
        <!ATTLIST staff
                id CDATA #REQUIRED>
        <!ELEMENT firstname (#PCDATA)>
        <!ELEMENT lastname (#PCDATA)>
        <!ELEMENT nickname (#PCDATA)>
        <!ELEMENT salary (#PCDATA)>
