src/main/resources/com/luxoft/cjp/xml/staff.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="students" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="company" type="companyType">
    <xs:annotation>
      <xs:documentation>&lt;!DOCTYPE company SYSTEM "staff.dtd"></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="companyType">
    <xs:sequence>
      <xs:element type="staffType" name="staff" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="staffType">
    <xs:sequence>
      <xs:element name="firstname" type="xs:string"/>
      <xs:element name="lastname" type="xs:string"/>
      <xs:element name="nickname">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="physic"/>
            <xs:enumeration value="craftsman"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="salary" type="xs:integer"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="required"/>
  </xs:complexType>
</xs:schema>