src/main/resources/com/luxoft/cjp/xml/staff.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="company" type="companyType">
    <xs:annotation>
      <xs:documentation>&lt;!DOCTYPE company SYSTEM "staff.dtd"></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="companyType">
    <xs:sequence>
      <xs:element type="staffType" name="staff" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="staffType">
    <xs:sequence>
      <xs:element name="firstname">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Alfred"/>
            <xs:enumeration value="Tomas"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="lastname">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Einstein"/>
            <xs:enumeration value="Edison"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nickname">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="physic"/>
            <xs:enumeration value="craftsman"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="salary">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="100000"/>
            <xs:enumeration value="200000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
</xs:schema>